In [4]:
from sklearn.datasets import load_iris
iris = load_iris()
filename = iris.filename

In [5]:
import pandas as pd
df = pd.read_csv(filename)
df

     150    4  setosa  versicolor  virginica
0    5.1  3.5     1.4         0.2          0
1    4.9  3.0     1.4         0.2          0
2    4.7  3.2     1.3         0.2          0
3    4.6  3.1     1.5         0.2          0
4    5.0  3.6     1.4         0.2          0
..   ...  ...     ...         ...        ...
145  6.7  3.0     5.2         2.3          2
146  6.3  2.5     5.0         1.9          2
147  6.5  3.0     5.2         2.0          2
148  6.2  3.4     5.4         2.3          2
149  5.9  3.0     5.1         1.8          2

[150 rows x 5 columns]

In [6]:
df2 = pd.DataFrame(iris.data, columns=iris.feature_names)
df2

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [9]:
df.data

AttributeError: 'DataFrame' object has no attribute 'data'

In [10]:
iris.filename

'C:\\Users\\caush\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'

In [11]:
cancer = pd.read_csv('./static/data/cancer_train.csv')
cancer

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
0,15.660,23.20,110.20,773.5,0.11090,0.31140,0.31760,0.13770,0.2495,0.08104,...,31.64,143.70,1226.0,0.1504,0.51720,0.6181,0.24620,0.3277,0.10190,0
1,16.160,21.54,106.20,809.8,0.10080,0.12840,0.10430,0.05613,0.2160,0.05891,...,31.68,129.70,1175.0,0.1395,0.30550,0.2992,0.13120,0.3480,0.07619,0
2,22.270,19.67,152.80,1509.0,0.13260,0.27680,0.42640,0.18230,0.2556,0.07039,...,28.01,206.80,2360.0,0.1701,0.69970,0.9608,0.29100,0.4055,0.09789,0
3,11.760,18.14,75.00,431.1,0.09968,0.05914,0.02685,0.03515,0.1619,0.06287,...,23.39,85.10,553.6,0.1137,0.07974,0.0612,0.07160,0.1978,0.06915,0
4,17.930,24.48,115.20,998.9,0.08855,0.07027,0.05699,0.04744,0.1538,0.05510,...,34.69,135.10,1320.0,0.1315,0.18060,0.2080,0.11360,0.2504,0.07948,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,13.170,21.81,85.42,531.5,0.09714,0.10470,0.08259,0.05252,0.1746,0.06177,...,29.89,105.50,740.7,0.1503,0.39040,0.3728,0.16070,0.3693,0.09618,0
422,15.100,16.39,99.58,674.5,0.11500,0.18070,0.11380,0.08534,0.2001,0.06467,...,18.33,105.90,762.6,0.1386,0.28830,0.1960,0.14230,0.2590,0.07779,1
423,14.710,21.59,95.55,656.9,0.11370,0.13650,0.12930,0.08123,0.2027,0.06758,...,30.70,115.70,985.5,0.1368,0.42900,0.3587,0.18340,0.3698,0.10940,0
424,9.606,16.84,61.64,280.5,0.08481,0.09228,0.08422,0.02292,0.2036,0.07125,...,23.07,71.25,353.6,0.1233,0.34160,0.4341,0.08120,0.2982,0.09825,1
425,8.950,15.76,58.74,245.2,0.09462,0.12430,0.09263,0.02308,0.1305,0.07163,...,17.07,63.34,270.0,0.1179,0.18790,0.1544,0.03846,0.1652,0.07722,1

In [8]:
import pandas as pd
df = pd.read_csv('./static/data/iris_test.csv')
X_test = df.iloc[0, :]
X_test

sepal length (cm)    4.4
sepal width (cm)     3.2
petal length (cm)    1.3
petal width (cm)     0.2
target               0.0
Name: 0, dtype: float64

In [9]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,4.4,3.2,1.3,0.2,0
1,4.6,3.6,1.0,0.2,0
2,5.5,2.4,3.8,1.1,1
3,4.3,3.0,1.1,0.1,0
4,5.2,3.4,1.4,0.2,0
5,5.1,3.5,1.4,0.2,0
6,4.4,2.9,1.4,0.2,0
7,4.8,3.1,1.6,0.2,0
8,4.7,3.2,1.3,0.2,0
9,5.0,3.5,1.6,0.6,0
10,5.0,3.2,1.2,0.2,0
11,6.1,2.8,4.7,1.2,1
12,5.7,2.5,5.0,2.0,2
13,6.4,3.2,5.3,2.3,2
14,6.1,3.0,4.6,1.4,1
15,7.2,3.2,6.0,1.8,2
16,5.7,2.8,4.5,1.3,1
17,5.6,2.5,3.9,1.1,1
18,5.1,3.3,1.7,0.5,0
19,5.6,3.0,4.5,1.5,1
20,5.9,3.0,4.2,1.5,1
21,6.8,3.0,5.5,2.1,2
22,6.1,2.6,5.6,1.4,2
23,5.0,3.6,1.4,0.2,0
24,6.3,2.8,5.1,1.5,2
25,6.7,3.1,4.4,1.4,1
26,6.4,2.9,4.3,1.3,1
27,6.3,2.5,4.9,1.5,1
28,4.8,3.0,1.4,0.1,0
29,4.6,3.4,1.4,0.3,0
30,5.5,2.4,3.7,1.0,1
31,6.2,2.9,4.3,1.3,1
32,4.9,3.1,1.5,0.2,0
33,6.4,2.8,5.6,2.2,2
34,6.6,2.9,4.6,1.3,1
35,6.2,2.2,4.5,1.5,1
36,6.5,3.0,5.8,2.2,2
37,4.8,3.4,1.9,0.2,0