In [1]:
import pandas as pd

In [2]:
kospi = pd.read_csv('./static/data/kospi.csv', dtype={'종목코드': str})[['종목코드', '기업명']]
kospi.head()

     종목코드      기업명
0  095570   AJ네트웍스
1  006840    AK홀딩스
2  027410      BGF
3  282330   BGF리테일
4  138930  BNK금융지주

In [3]:
kospi = kospi.set_index('종목코드')
kospi.head()

            기업명
종목코드
095570   AJ네트웍스
006840    AK홀딩스
027410      BGF
282330   BGF리테일
138930  BNK금융지주

In [4]:
kosdaq = pd.read_csv('./static/data/kosdaq.csv', dtype={'종목코드': str})[['종목코드', '기업명']]
kosdaq = kosdaq.set_index('종목코드')
kosdaq.head()

           기업명
종목코드
060310      3S
054620  APS홀딩스
265520   AP시스템
211270    AP위성
035760  CJ ENM

In [5]:
kospi.to_csv('./static/data/kospi_code.csv')
kosdaq.to_csv('./static/data/kosdaq_code.csv')