# Train/Test 데이터 세트 만들기

In [2]:
import pandas as pd
import sklearn.datasets as sd
from sklearn.model_selection import train_test_split

### 아이리스 데이터 세트

In [2]:
iris = sd.load_iris()
df_i = pd.DataFrame(iris.data, columns=iris.feature_names)
df_i['target'] = iris.target
X_train, X_test, y_train, y_test = train_test_split(df_i, iris.target, test_size=0.25, random_state=2021)

In [3]:
X_train.to_csv('./static/data/iris_train.csv', index=False)
X_test.to_csv('./static/data/iris_test.csv', index=False)

### 와인 데이터 세트

In [4]:
wine = sd.load_wine()
df_w = pd.DataFrame(wine.data, columns=wine.feature_names)
df_w['target'] = wine.target
X_train, X_test, y_train, y_test = train_test_split(df_w, wine.target, test_size=0.25, random_state=2021)

In [5]:
X_train.to_csv('./static/data/wine_train.csv', index=False)
X_test.to_csv('./static/data/wine_test.csv', index=False)

### MNIST Digit 데이터 세트

In [6]:
digits = sd.load_digits()
df = pd.DataFrame(digits.data, columns=digits.feature_names)
df['target'] = digits.target
X_train, X_test, y_train, y_test = train_test_split(df, digits.target, test_size=0.25, random_state=2021)

In [7]:
X_train.to_csv('./static/data/digits_train.csv', index=False)
X_test.reset_index(inplace=True)
X_test.to_csv('./static/data/digits_test.csv', index=False)

### 유방암 데이터 세트

In [8]:
cancer = sd.load_breast_cancer()
df = pd.DataFrame(cancer.data, columns=cancer.feature_names)
df['target'] = cancer.target
X_train, X_test, y_train, y_test = train_test_split(df, cancer.target, test_size=0.25, random_state=2021)

In [9]:
X_train.to_csv('./static/data/cancer_train.csv', index=False)
X_test.to_csv('./static/data/cancer_test.csv', index=False)

### 당뇨병 데이터 세트

In [3]:
diabetes = sd.load_diabetes()
df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target
X_train, X_test, y_train, y_test = train_test_split(df, diabetes.target, test_size=0.25, random_state=2021)

In [4]:
X_train

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
338,-0.063635,-0.044642,-0.033151,-0.033214,0.001183,0.024051,-0.024993,-0.002592,-0.022512,-0.059067,214.0
90,0.012648,-0.044642,-0.025607,-0.040099,-0.030464,-0.045155,0.078093,-0.076395,-0.072128,0.011349,98.0
271,0.038076,0.050680,0.008883,0.042530,-0.042848,-0.021042,-0.039719,-0.002592,-0.018118,0.007207,127.0
422,-0.078165,0.050680,0.077863,0.052858,0.078236,0.064447,0.026550,-0.002592,0.040672,-0.009362,233.0
373,-0.074533,-0.044642,-0.010517,-0.005671,-0.066239,-0.057054,-0.002903,-0.039493,-0.042572,-0.001078,168.0
...,...,...,...,...,...,...,...,...,...,...,...
109,0.038076,0.050680,-0.009439,0.002363,0.001183,0.037517,-0.054446,0.050176,-0.025952,0.106617,81.0
128,-0.052738,-0.044642,-0.062252,-0.026328,-0.005697,-0.005072,0.030232,-0.039493,-0.030751,-0.071494,115.0
57,-0.027310,-0.044642,-0.063330,-0.050428,-0.089630,-0.104340,0.052322,-0.076395,-0.056158,-0.067351,37.0
341,0.030811,0.050680,0.059541,0.056301,-0.022208,0.001191,-0.032356,-0.002592,-0.024791,-0.017646,263.0
116,0.048974,0.050680,0.058463,0.070073,0.013567,0.020607,-0.021311,0.034309,0.022004,0.027917,275.0

In [11]:
X_train.to_csv('./static/data/diabetes_train.csv', index=False)
X_test.to_csv('./static/data/diabetes_test.csv', index=False)

### Boston 데이터 세트

In [12]:
boston = sd.load_boston()
df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['target'] = boston.target
X_train, X_test, y_train, y_test = train_test_split(df, boston.target, test_size=0.25, random_state=2021)

In [13]:
X_train.to_csv('./static/data/boston_train.csv', index=False)
X_test.to_csv('./static/data/boston_test.csv', index=False)